__pycache__/
.venv/
*.egg-info/
node_modules/
package-lock.json
!vscode-selveri/package-lock.json
vscode-selveri/client/out/
.vscode/
*.vsix

# LaTeX build artifacts
*.aux
*.fdb_latexmk
*.fls
*.log
*.nav
*.out
*.snm
*.synctex.gz
*.toc
*.vrb
